In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 8)
!date

import methods

%load_ext autoreload
%autoreload 2

Wed Oct 21 12:40:51 PDT 2020

# Table 1: characteristics of survey respondents

In [2]:
data = methods.load_data()

/homes/abie/.conda/envs/vivarium_conic_sqlns/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df = data['df']
df['weight_one'] = 1
all_rows = df.date >= data['data_start_date']
rows = (df.date >= data['data_start_date']) & (df.test_required == 1)

In [4]:
def row_vals(df, col):
    g = df.groupby('hcw')[col]
    s = pd.DataFrame({'cnt':g.sum(), 'pct':100*g.mean()}).T.unstack()
    s.name = col
    
    return s

In [5]:
results = {}

# Total HCWs, non-HCWs
results['Total'] = row_vals(df[all_rows], 'weight_one')
results['Total']

hcw
False  cnt    1672981
       pct        100
True   cnt     115814
       pct        100
Name: weight_one, dtype: int64

In [6]:
# Number and percent tested 
results['Tested in last 14 days'] = row_vals(df[all_rows], 'test_last_14_days')
results['Tested in last 14 days']

hcw
False  cnt    123830.000000
       pct         7.401758
True   cnt     21071.000000
       pct        18.193828
Name: test_last_14_days, dtype: float64

In [7]:
# Required test in last 14 days
results['Test required by work or school'] = row_vals(df[all_rows], 'test_required')
results['Test required by work or school']

hcw
False  cnt    26805.000000
       pct        1.602230
True   cnt    13747.000000
       pct       11.869895
Name: test_required, dtype: float64

In [8]:
# Now, among those with a required test in last 14 days
df[rows].groupby('hcw').test_required.sum()

hcw
False    26805.0
True     13747.0
Name: test_required, dtype: float64

In [9]:
# Demographics: number, percent male
results['Among those with required test'] = pd.Series()

results['Male gender'] = row_vals(df[rows], 'male')
results['Male gender']

hcw
False  cnt    8662.000000
       pct      32.314867
True   cnt    1972.000000
       pct      14.344948
Name: male, dtype: float64

In [10]:
results['Age in years'] = pd.Series()

df['18_to_24'] = (df.age_group == 1)
results['18 to 24'] = row_vals(df[rows], '18_to_24')
results['18 to 24']

hcw
False  cnt    3356.000000
       pct      12.520052
True   cnt     761.000000
       pct       5.535753
Name: 18_to_24, dtype: float64

In [11]:
df['25_to_34'] = (df.age_group == 2)
results['25 to 34'] = row_vals(df[rows], '25_to_34')

In [12]:
df['35_to_44'] = (df.age_group == 3)
results['35 to 44'] = row_vals(df[rows], '35_to_44')

In [13]:
df['45_to_54'] = (df.age_group == 4)
results['45 to 54'] = row_vals(df[rows], '45_to_54')

In [14]:
df['55_to_64'] = (df.age_group == 5)
results['55 to 64'] = row_vals(df[rows], '55_to_64')

In [15]:
df['65_to_74'] = (df.age_group == 6)
results['65 to 74'] = row_vals(df[rows], '65_to_74')

In [16]:
df['75_and_older'] = (df.age_group == 7)
results['75 and older'] = row_vals(df[rows], '75_and_older')

In [17]:
pd.set_option('display.max_rows', 16)
pd.DataFrame(results).T.fillna('')

hcw                                    False            True
                                         cnt      pct     cnt       pct
Total                            1.67298e+06      100  115814       100
Tested in last 14 days                123830  7.40176   21071   18.1938
Test required by work or school        26805  1.60223   13747   11.8699
Among those with required test
Male gender                             8662  32.3149    1972   14.3449
Age in years
18 to 24                                3356  12.5201     761   5.53575
25 to 34                                4648    17.34    2374   17.2692
35 to 44                                4784  17.8474    3058   22.2449
45 to 54                                4797  17.8959    3377   24.5654
55 to 64                                3983  14.8592    3141   22.8486
65 to 74                                1204   4.4917     920   6.69237
75 and older                             476  1.77579     105  0.763803