In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
pd.set_option('display.max_rows', 8)
!date

import methods

%load_ext autoreload
%autoreload 2

Mon May 17 12:22:47 PDT 2021

# Table 1: characteristics of survey respondents

In [2]:
data = methods.load_data()

/homes/abie/.conda/envs/limetr_conda/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df = data['df']
df['weight_one'] = 1
all_rows = (df.date >= data['start_date']) & (df.date <= data['end_date'])
rows = all_rows & (df.test_required == 1)

In [4]:
def row_vals(df, col):
    g = df.groupby('hcw')[col]
    s = pd.DataFrame({'cnt':g.sum(), 'pct':100*g.mean()}).T.unstack()
    s.name = col
    
    return s

In [5]:
results = {}

# Total HCWs, non-HCWs
results['Total'] = row_vals(df[all_rows], 'weight_one')
results['Total']

hcw
False  cnt    1699214
       pct        100
True   cnt     123448
       pct        100
Name: weight_one, dtype: int64

In [6]:
# Number and percent tested 
results['Tested in last 14 days'] = row_vals(df[all_rows], 'test_last_14_days')
results['Tested in last 14 days']

hcw
False  cnt    133533.000000
       pct         7.858516
True   cnt     22594.000000
       pct        18.302443
Name: test_last_14_days, dtype: float64

In [7]:
# Required test in last 14 days
results['Test required by work or school'] = row_vals(df[all_rows], 'test_required')
results['Test required by work or school']

hcw
False  cnt    28770.000000
       pct        1.693136
True   cnt    14660.000000
       pct       11.875446
Name: test_required, dtype: float64

In [8]:
# Now, among those with a required test in last 14 days
df[rows].groupby('hcw').test_required.sum()

hcw
False    28770
True     14660
Name: test_required, dtype: int64

In [9]:
# Demographics: number, percent male
results['Among those with required test'] = pd.Series()

results['Male gender'] = row_vals(df[rows], 'male')
results['Male gender']

/homes/abie/.conda/envs/limetr_conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

hcw
False  cnt    9303.000000
       pct      32.335766
True   cnt    2106.000000
       pct      14.365621
Name: male, dtype: float64

In [10]:
results['Age in years'] = pd.Series()

df['18_to_24'] = (df.age_group == 1)
results['18 to 24'] = row_vals(df[rows], '18_to_24')
results['18 to 24']

/homes/abie/.conda/envs/limetr_conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

hcw
False  cnt    3595.000000
       pct      12.495655
True   cnt     818.000000
       pct       5.579809
Name: 18_to_24, dtype: float64

In [11]:
df['25_to_34'] = (df.age_group == 2)
results['25 to 34'] = row_vals(df[rows], '25_to_34')

In [12]:
df['35_to_44'] = (df.age_group == 3)
results['35 to 44'] = row_vals(df[rows], '35_to_44')

In [13]:
df['45_to_54'] = (df.age_group == 4)
results['45 to 54'] = row_vals(df[rows], '45_to_54')

In [14]:
df['55_to_64'] = (df.age_group == 5)
results['55 to 64'] = row_vals(df[rows], '55_to_64')

In [15]:
df['65_to_74'] = (df.age_group == 6)
results['65 to 74'] = row_vals(df[rows], '65_to_74')

In [16]:
df['75_and_older'] = (df.age_group == 7)
results['75 and older'] = row_vals(df[rows], '75_and_older')

In [17]:
pd.set_option('display.max_rows', 16)
pd.DataFrame(results).T.fillna('')

                                     False                True
                                       cnt        pct       cnt        pct
Total                            1699214.0      100.0  123448.0      100.0
Tested in last 14 days            133533.0   7.858516   22594.0  18.302443
Test required by work or school    28770.0   1.693136   14660.0  11.875446
Among those with required test
Male gender                         9303.0  32.335766    2106.0  14.365621
Age in years
18 to 24                            3595.0  12.495655     818.0   5.579809
25 to 34                            4994.0  17.358359    2544.0  17.353342
35 to 44                            5146.0  17.886688    3255.0  22.203274
45 to 54                            5179.0   18.00139    3587.0   24.46794
55 to 64                            4227.0  14.692388    3345.0   22.81719
65 to 74                            1307.0   4.542927     976.0   6.657572
75 and older                         503.0   1.748349     121.0   0.825375

In [18]:
data['start_date'].strftime(methods.date_fmt), data['end_date'].strftime(methods.date_fmt)

('September 8, 2020', 'October 20, 2020')